<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Mateusz_Cebrat_PUM.Properties.Settings.BazaKartotekaConnectionString" connectionString="Data Source=bazakartoteka.database.windows.net;Initial Catalog=BazaKartoteka;Persist Security Info=True;User ID=Cebrat;Password=Mateusz123!" providerName="System.Data.SqlClient" />
    <add name="Mateusz_Cebrat_PUM.Properties.Settings.KartotekaConnectionString" connectionString="Data Source=DESKTOP-V9MSIHC\SQLEXPRESS;Initial Catalog=Kartoteka;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BazaKartotekaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bazakartoteka.database.windows.net;initial catalog=BazaKartoteka;persist security info=True;user id=Cebrat;password=Mateusz123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KartotekaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V9MSIHC\SQLEXPRESS;initial catalog=Kartoteka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kartoteka_Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bazakartoteka.database.windows.net;persist security info=True;user id=Cebrat;password=Mateusz123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kartoteka_Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bazakartoteka.database.windows.net;initial catalog=BazaKartoteka;persist security info=True;user id=Cebrat;password=Mateusz123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>